# Import rotten tomato dataset & change column name

In [20]:
import pandas as pd
ori_data=pd.read_csv('cleaned_data.csv')
ori_data=ori_data.rename(columns = {'name':'movie_name'})
ori_data

,Unnamed: 0,movie_name,meter_score,audience_score,rating,genre,cast,director,time,studio,runtime,box_office,movie_synopsis
0,0,Toy Story 3,98,89,G,"['Animation', 'Comedy', 'Kids & Family', 'Scie...","['Tom Hanks', 'Tim Allen', 'Joan Cusack', 'Ned...",['Lee Unkrich'],2010/6/18,['Walt Disney Pictures'],103,414984497,"""Toy Story 3"" welcomes Woody, Buzz and the who..."
1,1,True Grit,96,85,PG-13,"['Action & Adventure', 'Drama', 'Western']","['Hailee Steinfeld', 'Jeff Bridges', 'Matt Dam...","['Joel Coen', 'Ethan Coen']",2010/12/22,['Paramount Pictures'],110,171031347,Fourteen-year-old Mattie Ross (Hailee Steinfel...
2,2,How to Train Your Dragon,98,91,PG,"['Animation', 'Kids & Family', 'Science Fictio...","['Jay Baruchel', 'Gerard Butler', 'Craig Fergu...","['Dean DeBlois', 'Chris Sanders']",2010/3/26,"['Paramount', 'DWA']",98,216900000,The son of a Viking chief must capture a drago...
3,3,The King's Speech,95,92,PG-13,['Drama'],"['Colin Firth', 'Helena Bonham Carter', 'Geoff...",['Tom Hooper'],2010/11/26,['The Weinstein Company'],118,138300000,After the death of his father King George V (M...
4,4,Inside Job,98,91,PG-13,"['Documentary', 'Special Interest']","['Matt Damon', 'William Ackman', 'Daniel Alper...",['Charles Ferguson (III)'],2010/10/8,['Sony Pictures Classics'],108,4311834,"From Academy Award (R) nominated filmmaker, Ch..."
5,5,Restrepo,97,88,R,"['Documentary', 'Special Interest']","['Dan Kearney', 'Lamonta Caldwell', 'Kevin Ric...","['Sebastian Junger', 'Tim Hetherington']",2010/12/7,['National Geographic'],93,1330894,It is fairly extraordinary that this film exis...
6,6,127 Hours,93,85,R,['Drama'],"['James Franco', 'Amber Tamblyn', 'Kate Mara',...",['Danny Boyle'],2010/11/5,['Fox Searchlight'],94,18329466,"""127 Hours"" is the true story of mountain clim..."
7,7,Animal Kingdom,95,83,R,"['Art House & International', 'Drama']","['Ben Mendelsohn', 'Joel Edgerton', 'Guy Pearc...",['David Michôd'],2010/8/13,['Sony Pictures Classics'],112,1000000,Welcome to the Melbourne underworld. It's the ...
8,8,The Town,93,85,R,"['Action & Adventure', 'Drama', 'Mystery & Sus...","['Ben Affleck', 'Rebecca Hall', 'Jon Hamm', 'J...",['Ben Affleck'],2010/9/17,['Warner Bros. Pictures'],151,92173235,Boston bank robber Doug MacRay (Ben Affleck) f...
9,9,Marwencol,98,87,NR,"['Documentary', 'Science Fiction & Fantasy']",[],['Jeff Malmberg'],2010/10/8,['The Cinema Guild'],83,112036,"On April 8, 2000, Mark Hogancamp was brutally ..."
10,10,Mother (Madeo),96,88,R,"['Art House & International', 'Drama', 'Myster...","['Hye-ja Kim', 'Jin Goo', 'Jin Goo', 'Yoon Jae...",['Bong Joon Ho'],2010/3/12,['Magnolia Pictures'],129,500000,Hye-ja is a single mom to 27-year-old Do-joon....
11,11,Ajami,97,81,NR,"['Art House & International', 'Drama']","['Shahir Kabaha', 'Ibrahim Ferrer', 'Ibrahim F...","['Scandar Copti', 'Yaron Shani']",2010/2/3,['Kino International'],120,500000,Palestinian Scandar Copti and Israeli Yaron Sh...
12,12,A Film Unfinished,97,86,NR,"['Art House & International', 'Documentary', '...",[],['Yael Hersonski'],2010/8/18,['Oscilloscope Pictures'],89,311542,Yael Hersonski's powerful documentary achieves...
13,13,Exit Through The Gift Shop,95,91,R,"['Comedy', 'Documentary', 'Musical & Performin...","['Banksy', 'Rhys Ifans', 'Thierry Guetta', 'Sh...",['Banksy'],2010/4/16,['Abarorama'],86,3288699,Banksy is a graffiti artist with a global repu...
14,14,The Fighter,90,89,R,"['Drama', 'Sports & Fitness']","['Christian Bale', 'Mark Wahlberg', 'Amy Adams...",['David O. Russell'],2010/12/10,['Paramount Pictures'],115,93571803,Mark Wahlberg stars in Paramount Pictures' ins...
15,15,Another Year,92,74,PG-13,"['Comedy', 'Drama']","['Jim Broadbent', 'Ruth Sheen', 'Lesley Manvil...",['Mike Leigh'],2010/12/29,['Sony Classics'],129,3200000,Unique improvisational techniques are employed...
16,16,Inception,86,91,PG-13,"['Action & Adventure', 'Drama', 'Mystery & Sus...","['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",['Christopher Nolan'],2010/7/16,['Warner Bros. Pictures'],148,292568851,Visionary filmmaker Christopher Nolan (Memento...
17,17,Best Worst Movie,95,83,NR,"['Comedy', 'Documentary', 'Television']","['Michael Stephenson', 'Darren Ewing', 'George...",['Michael Stephenson'],2010/4/23,['Area23A'],93,103194,"In 1989, unwitting Utah actors starred in the ..."
18,19,Tangled,89,87,PG,"['Animation', 'Comedy', 'Kids & Family', 'Musi...","['Zachary Levi', 'Donna Murphy', 'Ron Perlman'...","['Nathan Greno', 'Byron Howard']",2010/11/24,['Walt Disney Pictures'],100,200803309,When the kingdom's most wanted-and most charmi...
19,20,The Tillman Story,93,91,R,"['Documentary', 'Special Interest']","['Josh Brolin', 'Dannie Tillman', 'Richard Til...",['Amir Bar-Lev'],2010/8/20,['The Weinstein Company'],95,798940,"In 2002, as America was poised to go to war in..."
20,21,Fish Tank,91,79,NR,"['Art House & International', 'Drama']","['Katie Jarvis', 'Michael Fassbender', 'Rebecc...",['Andrea Arnold'],2010/1/15,['IFC'],124,187074,Fifteen-year-old Mia's world is turned upside ...
21,22,The Secret in Their Eyes (El Secreto de Sus Ojos),91,93,R,"['Art House & International', 'Drama', 'Myster...","['Soledad Villamil', 'Guillermo Francella', 'J...",['Juan José Campanella'],2010/4/16,['Sony Pictures Classics'],129,6390014,Benjamin Esposito has spent his entire working...
22,23,Carlos,93,85,NR,"['Art House & International', 'Classics', 'Dra...","['Edgar Ramirez', 'Alexander Scheer', 'Nora vo...",['Olivier Assayas'],2010/10/15,['IFC Films'],333,100000,"""Carlos"" tells the story of Ilich Ramírez Sánc..."
23,24,Vincere,92,68,NR,"['Art House & International', 'Drama']","['Giovanna Mezzogiorno', 'Fabrizio Costella', ...",['Marco Bellocchio'],2010/3/19,['IFC Films'],128,600000,This unusual and offbeat historical drama rest...
24,25,Black Swan,85,84,R,"['Drama', 'Mystery & Suspense']","['Natalie Portman', 'Mila Kunis', 'Vincent Cas...",['Darren Aronofsky'],2010/12/3,['Fox Searchlight'],108,106952327,A psychological thriller set in the world of N...
25,26,Let Me In,87,76,R,"['Drama', 'Horror', 'Science Fiction & Fantasy...","['Kodi Smit-McPhee', 'Chloë Grace Moretz', 'Ri...",['Matt Reeves'],2010/10/1,['Overture Films'],116,12134420,Twelve-year old Owen is viciously bullied by h...
26,27,Boxing Gym,93,75,NR,"['Documentary', 'Special Interest', 'Sports & ...",[],['Frederick Wiseman'],2010/10/22,['Zipporah Films'],91,34502,"The subject of the film is an Austin, Tex., in..."
27,29,Dogtooth (Kynodontas),92,75,R,"['Art House & International', 'Drama']","['Christos Stergioglou', 'Michelle Valley', 'A...",['Yorgos Lanthimos'],2010/6/25,['Kino International'],96,110197,"The father, the mother and their three kids li..."
28,30,Blue Valentine,87,77,R,"['Drama', 'Romance']","['Ryan Gosling', 'Michelle Williams', 'Faith W...","['Andrij Parekh', 'Derek Cianfrance']",2010/12/29,['Weinstein Company'],114,9600000,A complex portrait of a contemporary American ...
29,31,Rabbit Hole,87,72,PG-13,['Drama'],"['Nicole Kidman', 'Aaron Eckhart', 'Dianne Wie...",['John Cameron Mitchell'],2010/12/17,['Lionsgate Films'],91,2221809,"RABBIT HOLE is a vivid, hopeful, honest and un..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,1702,Avatar,83,82,PG-13,"['Action & Adventure', 'Comedy', 'Mystery & Su...","['Zoe Saldana', 'Sam Worthington', 'Sigourney ...",['James Cameron'],2009/12/18,['20th Century Fox'],162,749700000,"""Avatar"" is the story of an ex-Marine who find..."
1134,1703,Harry Potter and the Half-Blood Prince,84,77,PG,"['Action & Adventure', 'Drama', 'Kids & Family...","['Daniel Radcliffe', 'Emma Watson', 'Rupert Gr...",['David Yates (II)'],2009/7/15,['Warner Bros. Pictures'],154,301920409,Adolescent wizard-in-training Harry Potter ret...
1135,1704,Etz Limon (Lemon Tree),91,83,PG,"['Art House & International', 'Drama', 'Romance']","['Hiam Abbass', 'Ali Suliman', 'Rona Lipaz-Mic...",['Eran Riklis'],2009/4/17,['IFC'],106,467072,Widow and empty nester Salma Zidane lives on t...
1136,1705,500 Days of Summer,85,84,PG-13,"['Comedy', 'Drama', 'Romance']","['Joseph Gordon-Levitt', 'Zooey Deschanel', 'G...",['Marc Webb'],2009/7/17,['Fox Searchlight Pictures'],95,32118648,Joseph Gordon-Levitt and Zooey Deschanel star ...
1137,1706,The Girl with the Dragon Tattoo,86,87,R,"['Art House & International', 'Drama', 'Myster...","['Michael Nyqvist', 'Noomi Rapace', 'Lena Endr...",['Niels Arden Oplev'],2009/2/27,['Music Box Films'],154,10100000,A discredited journalist and a mysterious comp...
1138,1707,Séraphine,89,80,PG,"['Art House & International', 'Drama']","['Yolande Moreau', 'Ulrich Tukur', 'Anne Benne...",['Martin Provost'],2009/6/5,['Music Box Films'],121,557682,Belgian actress Yolande Moreau headlines this ...
1139,1708,Bad Lieutenant: Port of Call New Orleans,86,57,R,"['Drama', 'Mystery & Suspense']","['Nicolas Cage', 'Eva Mendes', 'Val Kilmer', '...",['Werner Herzog'],2009/11/20,['First Look Pictures'],121,1616556,Abel Ferrara's cult crime drama Bad Lieutenant...
1140,1710,Whip It,84,74,PG-13,"['Comedy', 'Drama']","['Ellen Page', 'Drew Barrymore', 'Juliette Lew...",['Drew Barrymore'],2009/10/2,['Fox Searchlight Pictures'],111,13000000,Bliss is a rebellious Texas teen who throws in...
1141,1711,Pranzo di Ferragosto (Mid-August Lunch),88,69,G,"['Art House & International', 'Comedy', 'Drama']","['Gianni Di Gregorio', 'Gianni Di Venanzo', 'G...","['Gianni Di Gregorio', 'Gianni Di Venanzo']",2009/4/1,['Zeitgeist Films'],75,600000,A man unexpectedly finds himself talking care ...
1142,1712,"I Love You, Man",83,74,R,"['Comedy', 'Drama']","['Paul Rudd', 'Jason Segel', 'Rashida Jones', ...",['John Hamburg'],2009/3/20,"['Dreamworks', 'Paramount']",105,71300000,Engaged to the woman of his dreams yet uncomfo...
1143,1713,The White Ribbon (Das weisse Band),85,78,R,"['Art House & International', 'Drama']","['Christian Friedel', 'Ulrich Tukur', 'Leonie ...",['Michael Haneke'],2009/12/30,['Sony Pictures Classics'],144,2077054,Set in a Northern German village before World ...
1144,1714,Paranormal Activity,83,56,R,"['Horror', 'Mystery & Suspense']","['Katie Featherston', 'Micah Sloat', 'Mark Fre...",['Oren Peli'],2009/9/25,['Paramount Pictures'],86,107901736,A haunted house makes no secret of the fact it...
1145,1715,Disneynature Earth,86,82,G,['Documentary'],"['James Earl Jones', 'Patrick Stewart']","['Mark Linfield', 'Alastair Fothergill']",2009/4/22,['Walt Disney Films'],99,31959266,"In celebration of Earth Day 2009, Walt Disney ..."
1146,1717,Gran Torino,80,90,R,['Drama'],"['Clint Eastwood', 'Bee Vang', 'Ahney Her', 'C...",['Clint Eastwood'],2009/1/9,"['Warner Bros. Pictures', 'Village Roadshow']",130,148055047,A racist Korean War veteran living in a crime-...
1147,1718,Bright Star,82,68,PG,"['Drama', 'Romance']","['Ben Whishaw', 'Abbie Cornish', 'Paul Schneid...",['Jane Campion'],2009/5/15,['Apparition Films'],119,4341275,London 1818: a secret love affair begins betwe...
1148,1720,The September Issue,83,71,PG-13,"['Documentary', 'Special Interest']","['Anna Wintour', 'Grace Coddington', 'Andre Le...",['R.J. Cutler'],2010/2/23,['Roadside Attractions'],90,3670036,"""The September Issue"" is an intimate, funny an..."
1149,1721,Soul Power,84,80,PG-13,"['Documentary', 'Musical & Performing Arts']","['James Brown (II)', 'Miriam Makeba', 'Bill Wi...",['Jeffrey Levy-Hinte'],2010/1/26,['Sony Pictures Classics'],93,200000,The three-day music festival Zaire '74 and the...
1150,1722,Michael Jackson's This Is It,80,82,PG,"['Documentary', 'Musical & Performing Arts']",[],['Kenny Ortega'],2009/10/28,"['Sony Pictures', 'Columbia Pictures']",121,71844424,"""Michael Jackson's This Is It"" will offer Jack..."
1151,1723,Broken Embraces,81,75,R,"['Art House & International', 'Comedy', 'Drama...","['Penelope Cruz', 'Blanca Portillo', 'José Lui...",['Pedro Almodóvar'],2009/11/20,['Sony Pictures Classics'],128,4900000,A follow-up to Spanish enfant terrible Pedro A...
1152,1724,Black Dynamite,83,85,R,"['Action & Adventure', 'Comedy']","['Michael Jai White', 'Obba Babatundé', 'Kevin...","['Shawn Maurer', 'Scott Sanders']",2009/10/16,['Sony Pictures'],84,131862,African-American action legend Black Dynamite ...
1153,1725,Bandslam,81,64,PG,"['Comedy', 'Drama', 'Musical & Performing Arts']","['Alyson Michalka', 'Gaelan Connell', 'Scott P...",['Todd Graff'],2009/8/14,['Summit Entertainment'],111,5205343,A gifted young singer-songwriter recruits the ...
1154,1726,Invictus,76,74,PG-13,"['Drama', 'Sports & Fitness']","['Morgan Freeman', 'Matt Damon', 'Tony Kgoroge...",['Clint Eastwood'],2009/12/11,['Warner Bros. Pictures'],134,37431431,The film tells the inspiring true story of how...
1155,1727,It Might Get Loud,80,84,PG,"['Documentary', 'Musical & Performing Arts']","['Jack White', 'Robert Plant', 'Jimmy Page', '...",['Davis Guggenheim'],2009/8/14,['Sony Pictures Classics'],98,1234300,Rarely can a film penetrate the glamorous surf...
1156,1728,Humpday,79,51,R,"['Comedy', 'Drama']","['Mark Duplass', 'Joshua Leonard', 'Alycia Del...",['Lynn Shelton'],2009/7/10,['Magnolia Pictures'],94,254272,It's been a decade since Ben and Andrew were t...
1157,1729,Julie & Julia,76,70,PG-13,"['Comedy', 'Drama']","['Meryl Streep', 'Amy Adams', 'Chris Messina',...",['Nora Ephron'],2009/8/7,"['Sony', 'Columbia Pictures']",123,94125426,"Based on two true stories, ""Julie & Julia"" int..."
1158,1730,A Town Called Panic (Panique au village),81,85,NR,"['Action & Adventure', 'Animation', 'Art House...","['Stéphane Aubier', 'Jeanne Balibar', 'Nicolas...","['Stéphane Aubier', 'Vincent Patar']",2009/12/16,['Zeitgeist Films'],76,165349,This unusual feature (a French-Belgian-Luxembo...
1159,1731,"Politist, adj. (Police, Adjective)",79,59,NR,"['Art House & International', 'Comedy', 'Drama']","['Dragos Bucur', 'Ion Stoica', 'Vlad Ivanov', ...",['Corneliu Porumboiu'],2009/12/23,['IFC Films'],115,26692,A cop finds himself growing uncomfortable with...
1160,1732,Capitalism: A Love Story,75,73,R,"['Documentary', 'Special Interest']","['Thora Birch', 'William Black', 'Jimmy Carter...",['Michael Moore'],2009/9/23,['Overture Films'],120,14342792,Michael Moore returns to controversial territo...
1161,1733,The Young Victoria,76,74,PG,['Drama'],"['Emily Blunt', 'Rupert Friend', 'Paul Bettany...",['Jean-Marc Vallée'],2009/12/18,['Apparition'],105,10900000,On the eve of her 18th birthday and succession...
1162,1734,Where the Wild Things Are,72,56,PG,"['Action & Adventure', 'Animation', 'Comedy', ...","['Max Records', 'Catherine Keener', 'Benicio D...",['Spike Jonze'],2009/10/16,['Warner Bros. Pictures'],101,77222184,Visionary director Spike Jonze brings Maurice ...

In [21]:
ori_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1163 entries, 0 to 1162
Data columns (total 13 columns):
Unnamed: 0        1163 non-null int64
movie_name        1163 non-null object
meter_score       1163 non-null int64
audience_score    1163 non-null int64
rating            1163 non-null object
genre             1163 non-null object
cast              1163 non-null object
director          1163 non-null object
time              1163 non-null object
studio            1163 non-null object
runtime           1163 non-null int64
box_office        1163 non-null int64
movie_synopsis    1163 non-null object
dtypes: int64(5), object(8)
memory usage: 118.2+ KB

# Add columns of budget ,director, actor and generes
the measure of director and actors are based on the amount of movie award wins

In [44]:
added_data=pd.read_csv('addded_columns_dataset.csv')
added_data

,Unnamed: 0,movie_name,budget,binary_count_dir,binary_count_actor,Action,Adventure,Animation,Biography,Comedy,...,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,avengers infinity war,300.0,0,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,black panther,200.0,0,1,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,deadpool 2,110.0,0,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,ready player one,150.0,1,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,a quiet place,17.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,5,annihilation,55.0,0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,jurassic world fallen kingdom,170.0,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,7,solo a star wars story,250.0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,mission impossible fallout,178.0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,9,antman and the wasp,130.0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,10,tomb raider,90.0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11,incredibles 2,200.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,12,game night,37.0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,13,venom,116.0,0,2,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,14,red sparrow,69.0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,15,bohemian rhapsody,NaN,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
16,16,hereditary,10.0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
17,17,oceans eight,NaN,0,3,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,18,a star is born,36.0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
19,19,rampage,120.0,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,20,isle of dogs,NaN,1,2,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
21,21,maze runner the death cure,61.0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
22,22,pacific rim uprising,155.0,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
23,23,the cloverfield paradox,NaN,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
24,24,the meg,150.0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,25,the commuter,40.0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,26,sicario day of the soldado,35.0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,27,love simon,10.0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
28,28,tag,28.0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,29,skyscraper,125.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23210,23210,a birthing way,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23211,23211,freon,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23212,23212,sirens of the deep,NaN,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23213,23213,one shot too high,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23214,23214,whats eating you,NaN,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23215,23215,a visit from the sergeant major with unintende...,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23216,23216,under the bus,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23217,23217,fabulous furry freak brothers,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23218,23218,labor day,18.0,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23219,23219,pastimperfect,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23220,23220,free delivery the horror,NaN,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23221,23221,bleeding june,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23222,23222,the robot family,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23223,23223,bloodline the devils game,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23224,23224,barnard girls,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23225,23225,timeless,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23226,23226,king of rain,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23227,23227,jordeys,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23228,23228,heart of hearing,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23229,23229,bullslingers,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23230,23230,belong,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23231,23231,dark of night,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23232,23232,flicker tourage,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23233,23233,naked with loons,NaN,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23234,23234,whatcha want,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23235,23235,the nsa,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23236,23236,challenger,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23237,23237,frannie lew high,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23238,23238,stained glass,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23239,23239,last flight of the raven,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [50]:
import numpy as np
added_data['new_column_1']=np.where(added_data['movie_name']=='Invictus ',1,0)
added_data['new_column_1'].sum()

0

# Merge dataset

In [31]:
result = pd.merge(added_data,ori_data,on='movie_name')

In [32]:
result

,Unnamed: 0_x,movie_name,budget,binary_count_dir,binary_count_actor,Action,Adventure,Animation,Biography,Comedy,...,audience_score,rating,genre,cast,director,time,studio,runtime,box_office,movie_synopsis
0,13771,1408,22.0,0,1,0,0,0,0,0,...,61,PG-13,"['Horror', 'Mystery & Suspense']","['John Cusack', 'Samuel L. Jackson', 'Mary McC...",['Mikael Håfström'],2007/6/22,"['MGM', 'Dimension']",94,71912310,Renowned horror novelist Mike Enslin believes ...

In [28]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23240 entries, 0 to 23239
Data columns (total 40 columns):
index                 23240 non-null int64
Unnamed: 0            1163 non-null float64
movie_name            1163 non-null object
meter_score           1163 non-null float64
audience_score        1163 non-null float64
rating                1163 non-null object
genre                 1163 non-null object
cast                  1163 non-null object
director              1163 non-null object
time                  1163 non-null object
studio                1163 non-null object
runtime               1163 non-null float64
box_office            1163 non-null float64
movie_synopsis        1163 non-null object
Unnamed: 0            23240 non-null int64
movie_name            23240 non-null object
budget                3533 non-null float64
binary_count_dir      23240 non-null int64
binary_count_actor    23240 non-null int64
Action                23240 non-null int64
Adventure             23240 non-null int64
Animation             23240 non-null int64
Biography             23240 non-null int64
Comedy                23240 non-null int64
Crime                 23240 non-null int64
Drama                 23240 non-null int64
Family                23240 non-null int64
Fantasy               23240 non-null int64
History               23240 non-null int64
Horror                23240 non-null int64
Musical               23240 non-null int64
Mystery               23240 non-null int64
News                  23240 non-null int64
Reality-TV            23240 non-null int64
Romance               23240 non-null int64
Sci-Fi                23240 non-null int64
Sport                 23240 non-null int64
Thriller              23240 non-null int64
War                   23240 non-null int64
Western               23240 non-null int64
dtypes: float64(6), int64(25), object(9)
memory usage: 7.1+ MB